html, body{
  overflow-x: hidden;
  overflow-y: auto;
}

.cardHighlight {
  min-height: 100%;
  background-color: palegreen !important;
}

.aboutRow {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: palegreen !important;
  background-image: url('../public/green.jpg');
  background-size: cover;

}

.navi {
  color: ghostwhite !important;

}

.navi:hover {
  background-color: ghostwhite;
  border-radius: 10px;
  color: black !important;
  font-size: large;
  font-style: bolder;
  transition: 0.2s;
}

.container__box {
  border-style: solid;
  border-radius: 10px;
}

.course-card {
  width: 300px;
  height: 300px;
}
